body {
    background: #f7d595;
}

.inline {
    display: inline;
}

tr {
    background: #ffb01d;
}

tr:first-child {
    background: #e1ad00;
}

tr:not(tr:first-child):hover{
    background: #ffdb39e6;
}

/*第一欄第一列：左上*/
tr:first-child td:first-child {
    border-top-left-radius: 5px;
}

/*第一欄最後列：左下*/
tr:last-child td:first-child {
    border-bottom-left-radius: 5px;
}

/*最後欄第一列：右上*/
tr:first-child td:last-child {
    border-top-right-radius: 5px;
}

/*最後欄第一列：右下*/
tr:last-child td:last-child {
    border-bottom-right-radius: 5px;
}

td {
    text-align: center;
    padding: 3pt 8pt 3pt 8pt;
    vertical-align: text-top;
}

.ssid {
    color: rgb(58, 101, 114);
    text-decoration: underline;
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    font-size: 13pt;
    font-family: Comic Sans MS, Comic Sans, cursive;
}

.hide {
    background: #d5c49f;
}